{% extends model('component') %}

{% define config = {
    name: 'pay-pal',
    tag: 'pay-pal'
} %}

{% define data = {
    form: required
} %}

{% block body %}
    <div class="payment-method payment-subform braintree-form braintree-paypal-form payment-form small-12 medium-9 large-6" id="braintreePayPal">
        <div class="braintree-method braintree-paypal-method" data-braintree-client-token="">
            <div class="small-12 columns">
                <div id="braintree-paypal-container"></div>
                <div class="braintree-error braintree-paypal-error field"></div>
            </div>

            {{ form_errors(data.form.braintreePayPal) }}
            {{ form_widget(data.form.braintreePayPal) }}
        </div>
    </div>
{% endblock %}
