parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to method .+\(\) on an unknown class Generated\\Zed\\Ide\\AutoCompletion#'
        - '#Call to method .+\(\) on an unknown class Generated\\Yves\\Ide\\AutoCompletion#'
        - '#Cannot call method .+ on .+Transfer\|null\.#'
        - '#Parameter .+ of method .+ expects .+Transfer, .+Transfer\|null given\.#'
        - '#Access to an undefined property .+success\.#'
        - '#Access to an undefined property .+transaction\.#'
        - '#Call to an undefined method .+filterByIsSuccess\(\)\.#'
        - '#Call to an undefined method .+filterByIsShipmentOperation\(\)\.#'
        - '#Call to an undefined method .+orderByIdPaymentBraintreeTransactionStatusLog\(\)\.#'
    excludePaths:
        - src/SprykerEco/Zed/Braintree/Persistence/Propel/Abstract*.php
