parameters:
    level: 8
    paths:
        - src
    bootstrapFiles:
        - tests/bootstrap.php
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to method .+\(\) on an unknown class Generated\\Zed\\Ide\\AutoCompletion#'
        - '#Call to static method create\(\) on an unknown class .+Query.#'
        - '#Call to method .+\(\) on an unknown class Orm\\.+#'
        - '#Instantiated class Orm\\Zed\\Braintree\\Persistence\\.+ not found.#'
        - '#Class Orm\\Zed\\Braintree\\Persistence\\.+ not found.#'
        - '#unknown class Orm\\Zed\\Braintree\\Persistence\\.+#'
    excludePaths:
        - src/SprykerEco/Zed/Braintree/Persistence/Propel/Abstract*.php
