{% extends molecule('braintree-payment-form', 'Braintree') %}

{% define config = {
    name: 'braintree-credit-card',
    tag: 'braintree-credit-card',
} %}

{% define attributes = {
    'data-braintree-client-token': data.form.braintreeCreditCard.vars.clientToken,
    'data-braintree-is-3d-secure': data.form.braintreeCreditCard.vars.is3dSecure,
    'data-braintree-amount': data.form.braintreeCreditCard.vars.amount | moneyRaw,
    'data-braintree-email': data.form.braintreeCreditCard.vars.email,
    'data-braintree-billing-address-given-name': data.form.braintreeCreditCard.vars.billingAddress.givenName,
    'data-braintree-billing-address-surname': data.form.braintreeCreditCard.vars.billingAddress.surname,
    'data-braintree-billing-address-phoneNumber': data.form.braintreeCreditCard.vars.billingAddress.phoneNumber,
    'data-braintree-billing-address-streetAddress': data.form.braintreeCreditCard.vars.billingAddress.streetAddress,
    'data-braintree-billing-address-extendedAddress': data.form.braintreeCreditCard.vars.billingAddress.extendedAddress,
    'data-braintree-billing-address-locality': data.form.braintreeCreditCard.vars.billingAddress.locality,
    'data-braintree-billing-address-region': data.form.braintreeCreditCard.vars.billingAddress.region,
    'data-braintree-billing-address-postalCode': data.form.braintreeCreditCard.vars.billingAddress.postalCode,
    'data-braintree-billing-address-countryCodeAlpha2': data.form.braintreeCreditCard.vars.billingAddress.countryCodeAlpha2,
} %}

{% block body %}
    {{ parent() }}

    <div class="form grid" id="braintreeCreditCard">
        <div class="col col--sm-12 form__fields {{ config.jsName }}__method">
            <div id="dropin_credit_card"></div>
            {{ form_widget(data.form.braintreeCreditCard) }}
        </div>
    </div>
{% endblock %}
